In [1]:
import pandas as pd

### Helper notebook to generate some dummy data with edge cases for testing purposes

In [2]:
dummy_df = pd.DataFrame([
        {'Uid': '12-12', 'Hr': 101, 'Rr': 89, 'Admreason': 'one', 'bc_positive_or_diagnosis_or_cause_of_death': True, 'Neolab_status': 'FINAL'},
        {'Uid': '12-12', 'Hr': 101, 'Rr': 89, 'Admreason': 'two', 'bc_positive_or_diagnosis_or_cause_of_death': False, 'Neolab_status': 'FINAL'},
        {'Uid': '11-10', 'Hr': 125, 'Rr': 100, 'Admreason': 'three', 'bc_positive_or_diagnosis_or_cause_of_death': False, 'Neolab_status': 'FINAL'},
        {'Uid': '11-11', 'Hr': 125, 'Rr': 100, 'Admreason': 'three', 'bc_positive_or_diagnosis_or_cause_of_death': False, 'Neolab_status': 'FINAL'},
        {'Uid': '52-10', 'Hr': 120, 'Rr': 95, 'Admreason': 'a', 'bc_positive_or_diagnosis_or_cause_of_death': False, 'Neolab_status': 'FINAL'},
        {'Uid': '52-10', 'Hr': 120, 'Rr': 95, 'Admreason': 'b', 'bc_positive_or_diagnosis_or_cause_of_death': True, 'Neolab_status': 'FINAL'},
        {'Uid': '53-06', 'Hr': 98, 'Rr': 101, 'Admreason': 'z', 'bc_positive_or_diagnosis_or_cause_of_death': True, 'Neolab_status': 'FINAL'},
        {'Uid': '53-06', 'Hr': 98, 'Rr': 101, 'Admreason': 'z', 'bc_positive_or_diagnosis_or_cause_of_death': False, 'Neolab_status': 'PRELIMINARY'},
        {'Uid': '53-07', 'Hr': 99, 'Rr': 102, 'Admreason': 'z', 'bc_positive_or_diagnosis_or_cause_of_death': True, 'Neolab_status': 'PRELIMINARY'},
        {'Uid': '53-07', 'Hr': 99, 'Rr': 102, 'Admreason': 'z', 'bc_positive_or_diagnosis_or_cause_of_death': False, 'Neolab_status': 'FINAL'}
    ])
dummy_df['Neolab_finalbcresult'] = dummy_df['bc_positive_or_diagnosis_or_cause_of_death'].apply(lambda x: 'Pos' if x else 'Neg')
dummy_df['Datetimeadmission'] = '2021-01-01'
dummy_df['Neolab_datebct'] = '2021-01-02'
dummy_df['Neolab_datebcr'] = '2021-01-03'
dummy_df['Datetimedeath'] = None
dummy_df['Diagdis1'] = 'Other'
dummy_df['Causedeath'] = None
dummy_df['Age'] = 1.0

In [3]:
case1_df = pd.DataFrame({'Uid': ['53-08'] * 4, 'Hr': [60] * 4, 'Rr': [85] * 4, 'Admreason': ['q'] * 4})
case1_df['Datetimeadmission'] = '2021-01-01'
case1_df['Neolab_datebct'] = '2021-01-02'
case1_df['Neolab_datebcr'] = '2021-01-03'
case1_df['Datetimedeath'] = None
case1_df['Diagdis1'] = 'Other'
case1_df['Causedeath'] = None
case1_df['Age'] = [1, 1, 72.0, 1]
case1_df['Neolab_finalbcresult'] = ['Neg', 'Neg', 'Pos', 'Neg']
case1_df['Neolab_status'] = ['FINAL', 'FINAL', 'FINAL', 'FINAL']
case1_df

,Uid,Hr,Rr,Admreason,Datetimeadmission,Neolab_datebct,Neolab_datebcr,Datetimedeath,Diagdis1,Causedeath,Age,Neolab_finalbcresult,Neolab_status
0,53-08,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1.0,Neg,FINAL
1,53-08,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1.0,Neg,FINAL
2,53-08,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,72.0,Pos,FINAL
3,53-08,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1.0,Neg,FINAL

In [4]:
case2_df = case1_df.copy()
case2_df['Uid'] = '53-09'
case2_df['Age'] = [1, 1, 2.0, 1]
case2_df['Neolab_status'] = ['FINAL', 'FINAL', 'PRELIMINARY', 'FINAL']
case2_df

,Uid,Hr,Rr,Admreason,Datetimeadmission,Neolab_datebct,Neolab_datebcr,Datetimedeath,Diagdis1,Causedeath,Age,Neolab_finalbcresult,Neolab_status
0,53-09,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1.0,Neg,FINAL
1,53-09,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1.0,Neg,FINAL
2,53-09,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,2.0,Pos,PRELIMINARY
3,53-09,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1.0,Neg,FINAL

In [5]:
case3_df = case1_df.copy()
case3_df['Uid'] = '53-10'
case3_df['Neolab_finalbcresult'] = ['Neg', 'Neg', 'Neg', 'Neg']
case3_df['Causedeath'] = ['other', 'EONS', 'other', 'other']
case3_df

,Uid,Hr,Rr,Admreason,Datetimeadmission,Neolab_datebct,Neolab_datebcr,Datetimedeath,Diagdis1,Causedeath,Age,Neolab_finalbcresult,Neolab_status
0,53-10,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,other,1.0,Neg,FINAL
1,53-10,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,EONS,1.0,Neg,FINAL
2,53-10,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,other,72.0,Neg,FINAL
3,53-10,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,other,1.0,Neg,FINAL

In [6]:
case4_df = case1_df.copy()
case4_df['Uid'] = '53-11'
case4_df['Neolab_finalbcresult'] = ['Pos', 'Pos', 'Pos', 'Pos']
case4_df['Causedeath'] = ['other', 'other', 'other', 'other']
case4_df['Age'] = [72, 72, 72, 108]
case4_df

,Uid,Hr,Rr,Admreason,Datetimeadmission,Neolab_datebct,Neolab_datebcr,Datetimedeath,Diagdis1,Causedeath,Age,Neolab_finalbcresult,Neolab_status
0,53-11,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,other,72,Pos,FINAL
1,53-11,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,other,72,Pos,FINAL
2,53-11,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,other,72,Pos,FINAL
3,53-11,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,other,108,Pos,FINAL

In [7]:
case5_df = case1_df.copy()
case5_df['Uid'] = '53-12'
case5_df['Age'] = [1, 1, 1, 1]
case5_df['Neolab_datebct'] = ['2021-01-02', '2021-01-02', '2020-01-02', '2021-01-02']
case5_df

,Uid,Hr,Rr,Admreason,Datetimeadmission,Neolab_datebct,Neolab_datebcr,Datetimedeath,Diagdis1,Causedeath,Age,Neolab_finalbcresult,Neolab_status
0,53-12,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1,Neg,FINAL
1,53-12,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1,Neg,FINAL
2,53-12,60,85,q,2021-01-01,2020-01-02,2021-01-03,None,Other,None,1,Pos,FINAL
3,53-12,60,85,q,2021-01-01,2021-01-02,2021-01-03,None,Other,None,1,Neg,FINAL

In [8]:
pd.concat([dummy_df, case1_df, case2_df, case3_df, case4_df, case5_df]).to_csv('./dummy_data.csv', index=False)